### c ###
# prerequisites
*.d

# object files
*.o
*.ko
*.obj
*.elf

# linker output
*.ilk
*.map
*.exp

# precompiled headers
*.gch
*.pch

# libraries
*.lib
*.a
*.la
*.lo

# shared objects (inc. windows dlls)
*.dll
*.so
*.so.*
*.dylib

# executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# debug files
*.dsym/
*.su
*.idb
*.pdb

# kernel module compile results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
